<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.scms.mapper.LoggingEventMapper">

    <select id="queryById" resultType="com.market.scms.entity.log.LoggingEvent">
        SELECT 
        *
        FROM 
        logging_event s
        WHERE 
        s.event_id = #{eventId}
    </select>
    
    <select id="queryAll" resultType="com.market.scms.entity.log.LoggingEvent">
        SELECT 
        *
        FROM 
        logging_event s
        ORDER BY s.timestamp DESC 
        LIMIT #{rowIndex},#{pageSize}
    </select>

    <select id="queryByLevel" resultType="com.market.scms.entity.log.LoggingEvent">
        SELECT 
        *
        FROM 
        logging_event s
        WHERE 
        s.level_string = #{levelString}
        ORDER BY s.timestamp DESC
        LIMIT #{rowIndex},#{pageSize}
    </select>

    <select id="queryLogin" resultType="com.market.scms.entity.log.LoggingEvent">
        SELECT 
        *
        FROM 
        logging_event s
        WHERE 
        s.caller_method = "staffLogin"
        ORDER BY s.timestamp DESC
        LIMIT #{rowIndex},#{pageSize}
    </select>

    <select id="queryByCondition" resultType="com.market.scms.entity.log.LoggingEvent">
        SELECT
        *
        FROM
        logging_event s
        <where>
            <if test="condition.loggerName != null">
                AND
                s.logger_name
                LIKE
                '%${condition.loggerName}%'
            </if>
            <if test="condition.callerFilename != null">
                AND
                s.caller_filename
                LIKE
                '%${condition.callerFilename}%'
            </if>
            <if test="condition.levelString != null">
                AND
                s.level_string = #{condition.levelString}
            </if>
            <if test="goodsCondition.goodsBrand != null">
                AND
                s.goods_brand = #{goodsCondition.goodsBrand}
            </if>
        </where>
        ORDER BY s.goods_id
        LIMIT #{rowIndex},#{pageSize}
    </select>

</mapper>