<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.scms.mapper.StaffPositionRelationMapper">
    <select id="queryById" resultType="com.market.scms.entity.staff.StaffPositionRelation">
        SELECT 
        *
        FROM 
        tb_staff_position_relation
        WHERE 
        staff_id = #{staffId}
    </select>

    <insert id="insert" parameterType="com.market.scms.entity.staff.StaffPositionRelation">
        INSERT INTO
        tb_staff_position_relation(staff_id,staff_position_id,staff_position_status)
        VALUES 
        (#{staffId},#{staffPositionId},#{staffPositionStatus})
    </insert>

    <delete id="delete" parameterType="com.market.scms.entity.staff.StaffPositionRelation">
        DELETE FROM
        tb_staff_position_relation
        WHERE 
        staff_id = #{staffId}
        AND 
        staff_position_id = #{staffPositionId}
    </delete>

    <update id="update" parameterType="com.market.scms.entity.staff.StaffPositionRelation">
        UPDATE
        tb_staff_position_relation
        SET 
        staff_position_status = #{staffPositionStatus}
        WHERE
        staff_id = #{staffId}
        AND 
        staff_position_id = #{staffPositionId}
    </update>

    <select id="queryAll" resultType="com.market.scms.entity.staff.StaffPositionRelation">
        SELECT 
        *
        FROM 
        tb_staff_position_relation
    </select>
    
</mapper>